.listing {
  background: var(--accent-color);
  border-radius: 30px;
  padding: 20px;
}
.listing-heading {
  color: var(--primary-color);
  padding: 0;
  margin: 8px 0 16px;
}

.listing-id {
  color: var(--secondary-color);
  font-weight: 600;
}

section.listing a {
  padding-left: 0;
  text-decoration: none;
  color: var(--primary-color);
}
section.listing a::after {
  content: '\203A';
  margin-left: 5px;
}